<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{'lang.forgotPassword' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content #mainContent>
    <form style="display: contents;" id="passForm" (ngSubmit)="updatePassword()" #passForm="ngForm">
        <ion-grid>
            <ion-row>
                <ion-col offset="3" size="6">
                    <ion-card class="info">
                        <ion-card-content [innerHTML]="'lang.logInOncePasswordChanged' | translate">
                        </ion-card-content>
                    </ion-card>
                    <ion-item>
                        <ion-label color="secondary" position="stacked">{{'lang.newPassword' | translate}}</ion-label>
                        <ion-input name="newPassword" [(ngModel)]="password.newPassword"
                            placeholder="{{'lang.newPassword' | translate}}"
                            [type]="hideNewPassword ? 'password' : 'text'"
                            (keyup)="checkPasswordValidity(password.newPassword)"></ion-input>
                        <ion-button class="showpassButton" slot="end" color="light"
                            (click)="hideNewPassword = !hideNewPassword">
                            <ion-icon slot="icon-only" color="primary"
                                [name]="hideNewPassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
                        </ion-button>
                    </ion-item>
                    <ion-item>
                        <ion-label color="secondary" position="stacked">{{'lang.passwordConfirmation' | translate}}
                        </ion-label>
                        <ion-input name="passwordConfirmation" [(ngModel)]="password.passwordConfirmation"
                            placeholder="{{'lang.passwordConfirmation' | translate}}"
                            [type]="hideNewPasswordConfirm ? 'password' : 'text'"></ion-input>
                        <ion-button class="showpassButton" slot="end" color="light"
                            (click)="hideNewPasswordConfirm = !hideNewPasswordConfirm">
                            <ion-icon slot="icon-only" color="primary"
                                [name]="hideNewPasswordConfirm ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
                        </ion-button>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-note color="success"
                            *ngIf="password.passwordConfirmation === password.newPassword && password.newPassword.length > 0 && password.passwordConfirmation.length> 0">
                            {{'lang.samePassword' | translate}}</ion-note>
                        <ion-note color="danger" *ngIf="password.passwordConfirmation !== password.newPassword">
                            {{'lang.passwordNotMatch' | translate}}</ion-note>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-item text-center lines="none" style="position: sticky;bottom:0px;z-index:1;">
            <div style="display: flex;align-items: center;justify-content: center;width: 100%;background: white;">
                <ion-button type="submit" shape="round" size="large" fill="outline" color="primary"
                    [disabled]="allowValidate() || loading">
                    <ion-label style="font-size: 13px;">{{labelButton | translate}}</ion-label>
                </ion-button>
                <ion-button type="button" shape="round" size="large" fill="outline" color="medium"
                    routerLink="/login">
                    <ion-label style="font-size: 13px;">{{'lang.cancel' | translate}}</ion-label>
                </ion-button>
            </div>
        </ion-item>
    </form>
</ion-content>
<!--<div class="login-content">
    <mat-icon svgIcon="maarchLogo" class="maarchLogo"></mat-icon>
    <mat-card class="login-form">
        <form (ngSubmit)="updatePassword()">
            <div class="alert-message alert-message-info" role="alert">
                {{'lang.logInOncePasswordChanged' | translate}}
            </div>
            <mat-form-field class="input-row">
                <input name="newPassword" matInput [(ngModel)]="password.newPassword"
                    placeholder="{{'lang.newPassword' | translate}}" [type]="hideNewPassword ? 'password' : 'text'"
                    (keyup)="checkPasswordValidity(password.newPassword)">
                <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword" class="fa fa-2x"
                    [ngClass]="[hideNewPassword ? 'fa-eye-slash' : 'fa-eye']">
                </mat-icon>
                <mat-hint style="color:red;">{{handlePassword.errorMsg | translate}}</mat-hint>
            </mat-form-field>
            <mat-form-field class="input-row">
                <input name="passwordConfirmation" matInput [(ngModel)]="password.passwordConfirmation"
                    placeholder="{{'lang.passwordConfirmation' | translate}}"
                    [type]="hideNewPasswordConfirm ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hideNewPasswordConfirm = !hideNewPasswordConfirm" class="fa fa-2x"
                    [ngClass]="[hideNewPasswordConfirm ? 'fa-eye-slash' : 'fa-eye']"></mat-icon>
                <mat-hint style="color:red;" *ngIf="password.passwordConfirmation !== password.newPassword">
                    {{'lang.passwordNotMatch' | translate}}</mat-hint>
                <mat-hint style="color:green;"
                    *ngIf="password.passwordConfirmation === password.newPassword && password.newPassword.length > 0 && password.passwordConfirmation.length> 0">
                    {{'lang.samePassword' | translate}}</mat-hint>
            </mat-form-field>
            <button type="submit" mat-button [disabled]="allowValidate() || loading">{{labelButton | translate}}</button>
            <button mat-button routerLink="/login">{{'lang.cancel' | translate}}</button>
        </form>
    </mat-card>
</div>-->