.login-form {
  max-width: 600px;
  text-align: center;
}

.input-row {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.maarchLogo {
  position: absolute;
  transition: all 1s ease-in-out;
  width: 250px;
  height: auto;
  padding-bottom: 10px;
  transform: translateY(-230px);
}

footer {
  color: white;
  position: absolute;
  bottom: 5px;
  font-size: 10px;
  opacity: 0.5;
}

.showpassButton {
  --background: none;
  --box-shadow: none;
}