.annotation
    &-actions
        display flex
        align-items center
        justify-content space-evenly
        height 100px
        width 100%
        padding 10px 0
        position fixed
        z-index 10
        top 0
        left 0
        background #fff
        &-boxed
            border-radius 60px
            height 60px
            background #F1F4F4
            display flex
            justify-content center
            align-items center
            padding 0 20px
        .radio
            appearance none
            position relative
            margin 5px
            width 30px
            height 30px
            border-radius 30px
            border-width none
            border-style solid
            outline none
            cursor pointer
            transition all 0.2s
            &:checked, &:hover
                transform scale(1.5)

.annotation
    position absolute
    width 380px
    height 320px
    user-select none
    -webkit-transform translate(0px, 0px)
    transform translate(0px, 0px)
    padding 20px
    z-index 10
    background cyan
    &-container
        position absolute
        height 100%
        width 100%
        z-index 1
        background rgba(0,0,0,0.4)
    &-header
        width 100%
        height 100px
        display flex
        justify-content space-around
        align-items center
        position relative
    &-body
        width 100%
        height 100%
        canvas
            height 100%
            width 100%
    &-drag
        position absolute
        left 150px
        top 70px
        height 70px
        width 70px
        border-radius 70px
        background #F1F4F4
        opacity 0.9
        box-shadow 0 2px 4px 0 rgba(0,0,0,0.17)
        i, .fas, .material-icons
            opacity 0.6

// :host
//     position relative

// app-annotation
//     position relative