<nav class="sidebar">
  <header class="sidebar-header">
    <section class="sidebar-header-icon notification">
      <i class="fa fa-folder-open fa-2x"></i>
    </section>
    <section>
      <div class="sidebar-header-title">{{countDocumentsList}} dossiers à traiter</div>
      <div class="sidebar-header-subtitle">dans la banette</div>
    </section>
  </header>
  <section class="sidebar-btn">
    <button class="btn btn-xs blue">Annotation</button>
    <button class="btn btn-xs blue">Paraphe</button>
  </section>
  <ul #listContent class="nav" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="1" [topOffset]="1">
    <div *ngIf="loadingList" class="loadList">
        <mat-spinner></mat-spinner>
    </div>
    <ng-container *ngFor="let document of documentsList">
        <li class="nav-item active" matRipple routerLink="/document/{{document.id}}">
            <div class="nav-item-left">
              <i class="fas fa-mail-bulk"></i>
            </div>
            <div class="nav-item-middle">
              <div class="nav-item-title">{{document.reference}}</div>
              <div class="">{{document.subject}}</div>
            </div>
            <div class="nav-item-right">
              <i class="fas fa-arrow-right"></i>
            </div>
          </li>
    </ng-container>
  </ul>
</nav>
