<nav class="sidebar" *ngIf="snavLeftComponent.opened">
  <div class="main-header">
    <header class="profile-header">
        <button class="logout-button" mat-icon-button (click)="logout()">
            <mat-icon  fontSet="fas" fontIcon="fa-sign-out-alt"></mat-icon>
        </button>
      <div class="user">
        {{signaturesService.userLogged.firstname}} {{signaturesService.userLogged.lastname}}
      </div>
      <div class="avatar" [ngStyle]="{'background': 'url(' + signaturesService.userLogged.picture + ') no-repeat scroll center center / cover'}" (click)="openProfile()">
      </div>
    </header>
    <header class="sidebar-header">
      <section class="sidebar-header-icon notification">
        <i class="fa fa-folder-open fa-2x"></i>
      </section>
      <section>
        <div class="sidebar-header-title">{{signaturesService.documentsListCount}} dossiers à traiter</div>
      </section>
    </header>
    <section class="sidebar-btn">
      <button class="btn btn-xs blue filter" [ngClass]="[mode == 'NOTE' ? 'active' : '']" (click)="filter('NOTE')">Annotation</button>
      <button class="btn btn-xs blue filter" [ngClass]="[mode == 'SIGN' ? 'active' : '']" (click)="filter('SIGN')">Paraphe</button>
    </section>
  </div>
  <ul #listContent class="nav" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="1" [topOffset]="1">
    <div *ngIf="loadingList" class="loadList">
      <mat-spinner></mat-spinner>
    </div>
    <ng-container *ngFor="let document of signaturesService.documentsList;let i=index">
      <li class="nav-item active" matRipple (click)="gotTo(document.id, i)">
        <div class="nav-item-left">
          <i class="fas fa-mail-bulk"></i>
        </div>
        <div class="nav-item-middle">
          <div class="nav-item-title">{{document.reference}}</div>
          <div class="">{{document.subject}}</div>
        </div>
        <div class="nav-item-right">
          <i class="fas fa-arrow-right"></i>
        </div>
      </li>
    </ng-container>
  </ul>
</nav>