<nav class="sidebar" *ngIf="snavLeftComponent.opened">
  <div class="main-header">
    <header class="profile-header">
        <button class="logout-button" mat-icon-button (click)="logout()">
            <mat-icon  fontSet="fas" fontIcon="fa-sign-out-alt"></mat-icon>
        </button>
      <div class="user" style="color: #F99830">
        {{signaturesService.userLogged.firstname}} {{signaturesService.userLogged.lastname}}
      </div>
      <div *ngIf="signaturesService.userLogged.picture" class="avatar" [ngStyle]="{'background': 'url(' + signaturesService.userLogged.picture + ') no-repeat scroll center center / cover'}" (click)="openProfile()">
      </div>
    </header>
    <header class="sidebar-header">
      1 {{'lang.documents' | translate}}&nbsp;<span class="primary" *ngIf="signaturesService.mode != ''">{{'lang.'+signaturesService.mode+'Label' | translate}}</span>
    </header>
    <section class="sidebar-btn">
      <button class="btn btn-xs blue filter" [ngClass]="[signaturesService.mode == 'sign' ? 'active' : '']" (click)="filter('sign')"><i class="fas fa-file-signature"></i></button>
      <button class="btn btn-xs blue filter" [ngClass]="[signaturesService.mode == 'visa' ? 'active' : '']" (click)="filter('visa')"><i class="fas fa-thumbs-up"></i></button>
      <button class="btn btn-xs blue filter" [ngClass]="[signaturesService.mode == 'note' ? 'active' : '']" (click)="filter('note')"><i class="far fa-comment-dots"></i></button>
    </section>
  </div>
  <ul #listContent class="nav" detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="1" [topOffset]="1">
    <div *ngIf="loadingList" class="loadList">
      <mat-spinner></mat-spinner>
    </div>
    <ng-container *ngFor="let document of signaturesService.documentsList;let i=index">
      <li class="nav-item active" matRipple (click)="gotTo(document.id, i)">
        <div class="nav-item-left">
          <i class="fas fa-mail-bulk"></i>
        </div>
        <div class="nav-item-middle">
          <div class="">{{document.reference}}</div>
          <div class="nav-item-title">{{document.title}}</div>
        </div>
        <div class="nav-item-right">
          <i class="fas fa-arrow-right"></i>
        </div>
      </li>
    </ng-container>
  </ul>
</nav>