<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="left-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'lang.administration' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content #mainContent>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let privilege of authService.user.administrativePrivileges">
        <ion-button [routerLink]="privilege.route" expand="block" size="large" fill="outline" color="secondary"
          style="height: 200px;">
          <div class="admin-content">
            <ion-icon style="font-size: 70px;" [name]="privilege.icon" color="primary"></ion-icon>
            <ion-label color="primary" style="white-space: normal;">{{'lang.' + privilege.id | translate}}</ion-label>
            <ion-note style="font-size: 8px;white-space: normal;padding: 10px;">
              {{'lang.' + privilege.id + 'Desc' | translate}}</ion-note>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>