<nav class="sidebar" *ngIf="this.signaturesService.showProfile">
    <div class="main-header">
        <header class="profile-header">
            <div class="user" style="color: #F99830">
                Mon Profil
            </div>
            <div class="avatarProfile" [ngStyle]="{'background': 'url(' + this.profileInfo.picture + ') no-repeat scroll center center / cover'}" (tap)="uploadFile.click();">
            </div>
            <input #uploadFile type="file" style="display:none;" (change)="handleFileInput($event.target.files)">
        </header>
    </div>
    <div class="nav">
        <form class="profile-content" (ngSubmit)="submitProfile()" #profileForm="ngForm">
            <mat-form-field class="input-row">
                <input name="login" matInput placeholder="Courriel" type="mail" [(ngModel)]="profileInfo.email" (keyup)="newLogin.mail=newLogin.mail.toLowerCase()"
                    disabled required>
            </mat-form-field>
            <mat-form-field class="input-row">
                <input name="firstname" matInput placeholder="Prénom" [(ngModel)]="profileInfo.firstname" required>
            </mat-form-field>
            <mat-form-field class="input-row">
                <input name="nom" matInput placeholder="Nom" [(ngModel)]="profileInfo.lastname" required>
            </mat-form-field>
            <mat-accordion>
                <mat-expansion-panel (closed)="showPassword=false" (opened)="changePasswd()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Modifier mon mot de passe
                        </mat-panel-title>
                        <mat-panel-description>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <ng-container *ngIf="showPassword">
                        <mat-form-field class="input-row">
                            <input name="currentPassword" matInput [(ngModel)]="password.currentPassword" placeholder="Mot de passe actuel" [type]="hideCurrentPassword ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword" class="fa fa-2x" [ngClass]="[hideCurrentPassword ? 'fa-eye-slash' : 'fa-eye']"></mat-icon>
                        </mat-form-field>
                        <mat-form-field class="input-row">
                            <input name="newPassword" matInput [(ngModel)]="password.newPassword" placeholder="Nouveau mot de passe" [type]="hideNewPassword ? 'password' : 'text'" 
                            (keyup)="checkPasswordValidity(password.newPassword)">
                            <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword" class="fa fa-2x" [ngClass]="[hideNewPassword ? 'fa-eye-slash' : 'fa-eye']"></mat-icon>
                            <mat-hint style="color:red;">{{handlePassword.errorMsg}}</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="input-row">
                            <input name="passwordConfirmation" matInput [(ngModel)]="password.passwordConfirmation"
                                placeholder="Confirmer le nouveau mot de passe" [type]="hideNewPasswordConfirm ? 'password' : 'text'">
                                <mat-icon matSuffix (click)="hideNewPasswordConfirm = !hideNewPasswordConfirm" class="fa fa-2x" [ngClass]="[hideNewPasswordConfirm ? 'fa-eye-slash' : 'fa-eye']"></mat-icon>
                            <mat-hint style="color:red;" *ngIf="password.passwordConfirmation !== password.newPassword">Les
                                mots de passe ne correspondent pas !</mat-hint>
                            <mat-hint style="color:green;" *ngIf="password.passwordConfirmation === password.newPassword && password.newPassword.length > 0 && password.passwordConfirmation.length> 0">Les
                                mots de passe sont identiques</mat-hint>
                        </mat-form-field>
                    </ng-container>
                </mat-expansion-panel>
            </mat-accordion>
            <span class="actions">
                <button class="validate" mat-button color="primary" type="submit" [disabled]="allowValidate() || !profileForm.form.valid">Valider</button>
                <button  class="cancel" mat-icon-button type="button" (click)="closeProfile();"><mat-icon fontSet="fas" fontIcon="fa-arrow-left fa-2x"></mat-icon></button>
            </span>
        </form>
    </div>
</nav>