<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{'lang.forgotPassword' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content #mainContent>
    <form style="display: contents;" id="passForm" (ngSubmit)="generateLink()" #passForm="ngForm">
        <ion-grid>
            <ion-row>
                <ion-col offset="3" size="6">
                    <ion-card class="info">
                        <ion-card-content [innerHTML]="'lang.afterClickingSendLinkChangePassword' | translate">
                        </ion-card-content>
                    </ion-card>
                    <ion-item>
                        <ion-label color="secondary" position="floating">{{'lang.enterLogin' | translate}} *</ion-label>
                        <ion-input name="login" matInput [(ngModel)]="newLogin.login" type="text"
                            oninput="this.value = this.value.toLowerCase()">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-item text-center lines="none" style="position: sticky;bottom:0px;z-index:1;">
            <div style="display: flex;align-items: center;justify-content: center;width: 100%;background: white;">
                <ion-button type="submit" shape="round" size="large" fill="outline" color="primary"
                    [disabled]="newLogin.login == '' || loading">
                    <ion-label style="font-size: 13px;">{{labelButton | translate}}</ion-label>
                </ion-button>
            </div>
        </ion-item>
    </form>
</ion-content>