<div class="login-content">
    <mat-icon svgIcon="maarchLogo" class="maarchLogo"></mat-icon>
    <mat-card class="login-form">
        <form (ngSubmit)="generateLink()">
            <div class="alert-message alert-message-info" role="alert">
                Après avoir cliqué sur <b>Envoyer</b>, vous reçevrez un mail contenant un lien pour modifier votre mot de passe. Ce lien sera actif <b>1 heure</b>.
            </div>
            <mat-form-field class="input-row">
                <input name="login" matInput placeholder="Saisissez votre identifiant" [(ngModel)]="newLogin.login" type="text" oninput="this.value = this.value.toLowerCase()">
            </mat-form-field>
            <button type="submit" mat-button [disabled]="newLogin.login == '' || loading">{{labelButton}}</button>
            <button mat-button routerLink="/login">Annuler</button>
        </form>
    </mat-card>
</div>