<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
        <ion-avatar slot="end">
            <img [src]="user.picture">
        </ion-avatar>
    </ion-toolbar>
</ion-header>
<form style="display: contents;" id="adminForm" (ngSubmit)="onSubmit()" #adminForm="ngForm">
    <ion-content>
        <ion-item>
            <ion-label color="secondary" position="floating">{{'lang.login' | translate}} *</ion-label>
            <ion-input name="login" [readonly]="!creationMode" [(ngModel)]="user.login" required pattern="^[\w.@-]*$">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="secondary" position="floating">{{'lang.firstname' | translate}} *</ion-label>
            <ion-input name="firstname" [(ngModel)]="user.firstname" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="secondary" position="floating">{{'lang.lastname' | translate}} *</ion-label>
            <ion-input name="lastname" [(ngModel)]="user.lastname" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="secondary" position="floating">{{'lang.email' | translate}} *</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="user.email" required
                pattern="(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>{{'lang.restUser' | translate}}</ion-label>
            <ion-toggle slot="start" color="primary" [disabled]="!creationMode" name="isRest" [(ngModel)]="user.isRest"
                [checked]="user.isRest" (ionChange)="getPassRules($event)"></ion-toggle>
        </ion-item>
        <ion-item style="align-items: center;" *ngIf="user.isRest">
            <ion-button slot="end" fill="clear" color="primary" (click)="hideNewPassword = !hideNewPassword">
                <ion-icon color="primary" [name]="hideNewPassword ? 'eye-outline' : 'eye-off-outline'">
                </ion-icon>
            </ion-button>
            <ion-label color="secondary" position="floating">{{'lang.newPassword' | translate}}</ion-label>
            <ion-input [type]="hideNewPassword ? 'password' : 'text'" name="newPasswordRest"
                [(ngModel)]="passwordRest.newPassword" (ionChange)="checkPasswordValidity(passwordRest.newPassword)">
            </ion-input>
        </ion-item>
        <ion-item style="align-items: center;" *ngIf="user.isRest">
            <ion-button slot="end" fill="clear" color="primary"
                (click)="hideNewPasswordConfirm = !hideNewPasswordConfirm">
                <ion-icon color="primary" [name]="hideNewPasswordConfirm ? 'eye-outline' : 'eye-off-outline'">
                </ion-icon>
            </ion-button>
            <ion-label color="secondary" position="floating">{{'lang.passwordConfirmation' | translate}}</ion-label>
            <ion-input [type]="hideNewPasswordConfirm ? 'password' : 'text'" name="passwordConfirmation"
                [(ngModel)]="passwordRest.passwordConfirmation"></ion-input>
            <ion-note color="danger" *ngIf="passwordRest.passwordConfirmation !== passwordRest.newPassword">
                {{'lang.passwordNotMatch' | translate}}</ion-note>
            <ion-note color="success"
                *ngIf="passwordRest.passwordConfirmation === passwordRest.newPassword && passwordRest.newPassword.length > 0 && passwordRest.passwordConfirmation.length> 0">
                {{'lang.samePassword' | translate}}</ion-note>
        </ion-item>
        <ion-item text-center lines="none" style="position: sticky;bottom:0px;z-index:1;">
            <div style="display: flex;align-items: center;justify-content: center;width: 100%;background: white;">
                <ion-button type="submit" shape="round" size="large" fill="outline" color="primary"
                    [disabled]="!adminForm.form.valid || !canValidate()">
                    <ion-label style="font-size: 13px;">{{'lang.validate' | translate}}</ion-label>
                </ion-button>
            </div>
        </ion-item>
    </ion-content>
</form>