<div
  *ngFor="let signature of this.signaturesService.signaturesContent[this.signaturesService.currentPage];let i = index;"
  [position]="{x: (signature.positionX*this.signaturesService.workingAreaWidth)/100, y:(signature.positionY*this.signaturesService.workingAreaHeight)/100}"
  [style.width.%]="signature.width" [ngDraggable]="!signaturesService.resizing" ngResizable [rzAspectRatio]="true"
  (rzResizing)="onResizing($event, i)" (rzStart)="signaturesService.resizing=true"
  (movingOffset)="signaturesService.dragging=true" (endOffset)="moveSign($event, i);"
  (rzStop)="onResizeStop($event, i);signaturesService.resizing=false;" [preventDefaultEvent]="false" [bounds]="bounds"
  [inBounds]="true"
  style="position:absolute;border: dashed 1px grey;background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;"
  [style.height]="fix" #test>
  <ion-item style="position: absolute;--background: none;right: 0;--border-width: 0;">
    <ion-select (click)="$event.stopPropagation();" selectedText=" " value="" interface="popover"
      (ionChange)="select($event,i)">
      <ion-select-option class="action-item" value="deleteSignature">{{'lang.delete' | translate}}</ion-select-option>
      <ion-select-option class="action-item" [disabled]="signature.inAllPage" value="cloneSign">
        {{'lang.replicate' | translate}}</ion-select-option>
    </ion-select>
  </ion-item>
  <img class="img-content"
    [src]="sanitization.bypassSecurityTrustUrl('data:image/png;base64,' + signature.encodedSignature)"
    [style.width.%]="100">
</div>

<div *ngFor="let date of this.signaturesService.datesContent[this.signaturesService.currentPage];let i = index;"
  class="test"
  [position]="{x: (date.positionX*this.signaturesService.workingAreaWidth)/100, y:(date.positionY*this.signaturesService.workingAreaHeight)/100}"
  [style.width.%]="date.width" [style.height.%]="date.height" [ngDraggable]="!signaturesService.resizing" ngResizable
  [rzAspectRatio]="true" (rzStart)="signaturesService.resizing=true" (movingOffset)="signaturesService.dragging=true"
  (endOffset)="moveDate($event, i);" (rzStop)="onResizeDateStop($event, i);signaturesService.resizing=false;"
  [preventDefaultEvent]="false" [bounds]="bounds" [inBounds]="true" (click)="$event.stopPropagation();">
  <ion-buttons style="position:absolute;top: -30px;">
    <ion-button slot="icon-only" shape="round" (click)="openDateSettings(date)">
      <ion-icon name="construct-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <svg [id]="'testSVG_'+ i" viewBox="0 0 130 30" preserveAspectRatio="xMinYMin meet">
    <text y="10" font-size="16" dy=".3em" style="fill: #0000ff;">25 décembre 2020</text></svg>
</div>

<div class="test" ngDraggable ngResizable [rzAspectRatio]="true" style="position: absolute"
  (movingOffset)="signaturesService.dragging=true">

</div>