<ng-container *ngFor="let signature of this.signaturesService.signaturesContent[this.signaturesService.currentPage];let i = index;">
  <div [position]="{'x': signature.positionX*signaturesService.scale, 'y': signature.positionY*signaturesService.scale}" id="signaturesContent" style="top:0;left:0;position: absolute;border: dashed 1px grey;background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;"
    ngDraggable preventDefaultEvent="true" [bounds]="canvas" inBounds="true" (endOffset)="moveSign($event,i)" [ngClass]="{
              'pdf-page-canvas':!signaturesService.renderingDoc,
              'pdf-page-canvas-loading-doc':signaturesService.renderingDoc
            }">
    <button (tap)="openMenu(menuTrigger)" mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu"
      style="right: 0;position: absolute;color:#F99830;">
      <mat-icon fontSet="fas" fontIcon="fa-ellipsis-v"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="$event.stopPropagation();deleteSignature(i);">
        <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
        <span>Supprimer</span>
      </button>
      <button [disabled]="signature.inAllPage" mat-menu-item (click)="$event.stopPropagation();cloneSign(i);" title="Répliquer la signature sur toutes les pages">
        <mat-icon fontSet="fas" fontIcon="fa-clone"></mat-icon>
        <span>Répliquer</span>
      </button>
    </mat-menu>
    <img [src]="sanitization.bypassSecurityTrustUrl('data:image/png;base64,' + signature.encodedSignature)"
      [style.width.px]="this.signaturesService.signWidth">
  </div>
</ng-container>