<article class="annotation" #annotation>
  <section class="annotation-header">
    <i class="fas fa-times-circle fa-3x btn-close red" (click)="closeAnnotation($event)"></i>
    <button class="annotation-drag"><i class="fas fa-arrows-alt fa-3x"></i></button>
    <i class="fas fa-check-circle fa-3x btn-valid green" (click)="validateAnnotation($event)"></i>
  </section>
  <section class="annotation-body">
    <signature-pad [options]="annotationPadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
  </section>
  <section class="annotation-footer"></section>
</article>
