@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.swipe-panel-area
    position: fixed
    width: 20px
    height: 100%

body
    overflow-y:hidden

.center-snackbar > .mat-simple-snackbar > span
  text-align: center
  width: 100%

.header button
    height : 70px
    width : 70px

.header button mat-icon
    height : auto
    width : auto
    font-size : 40px