<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>{{'lang.adminSignaturesPositions' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div style="display: flex;height: 100%;">
        <div style="flex: 1;">
            <ion-list>
                <ion-item>
                    <ion-label>{{'lang.page' | translate | titlecase}}</ion-label>
                    <ion-select interface="popover" [(ngModel)]="currentPage" [selectedText]="currentPage + '/' + pages.length"
                        (ionChange)="changePage($event.detail.value)">
                        <ion-select-option *ngFor="let page of pages" [value]="page">{{page}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-radio-group [(ngModel)]="currentUser" (ionChange)="selectUser($event.detail.value)">
                    <ion-item *ngFor="let user of workflow;let i=index">
                        <ion-radio slot="start" [value]="i"></ion-radio>
                        <ion-label>
                            <h2>{{user.userDisplay}} <sup class="primary"
                                    color="primary">({{user.mode === 'sign' ? ('lang.signUser' | translate):  ('lang.visaUser' | translate)}})</sup>
                            </h2>
                            <p>
                                <ng-container *ngFor="let sign of signList">
                                    <ion-chip style="z-index: 9999;" *ngIf="sign.sequence === i" outline
                                        [title]="('lang.accessToPage' | translate) + ' ' + sign.page"
                                        [color]="(i=== currentUser && sign.page === currentPage) ? 'primary' : 'medium'"
                                        (click)="goToSignUserPage(i,sign.page)">
                                        <ion-label>{{sign.page}}</ion-label>
                                    </ion-chip>
                                </ng-container>
                            </p>
                        </ion-label>
                    </ion-item>
                </ion-radio-group>
            </ion-list>
            <div style="text-align: center;">
                <ion-button color="primary" *ngIf="emptySign()" (click)="initSign()">{{'lang.createSignaturePosition' | translate}}</ion-button>
            </div>
        </div>
        <div class="signatureContainer">
            <div id="myBounds" #myBounds
                style="position: absolute;position: absolute;box-shadow: 0px 0px 5px 0px #656565;"
                [style.width.px]="workingAreaWidth" [style.height.px]="workingAreaHeight">
                <ng-container *ngFor="let sign of signList;let indexSign=index;">
                    <div *ngIf="sign.page === currentPage" [class.signDisabled]="currentUser!==sign.sequence"
                        [position]="{x: (sign.position.positionX*workingAreaWidth)/100, y:(sign.position.positionY*workingAreaHeight)/100}"
                        [style.width.%]="25" [ngDraggable]="currentUser===sign.sequence"
                        (endOffset)="moveSign($event, i);" [preventDefaultEvent]="false" [bounds]="myBounds"
                        [inBounds]="true" class="signature"
                        (click)="currentUser!=sign.sequence ? goToSignUserPage(sign.sequence, currentPage) : false">
                        <ion-buttons style="position: absolute;top: -50px;right: 0px;">
                            <ion-button fill="clear" slot="icon-only" shape="round" size="small" color="danger"
                                [title]="'lang.delete' | translate" (click)="deleteSign(indexSign)">
                                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                        <span class="signUserName">{{getUserName(sign.sequence)}}</span>
                        {{'lang.signature' | translate | uppercase}}
                    </div>
                </ng-container>
                <ion-img class="img-content" [src]="imgContent"></ion-img>
            </div>
        </div>
    </div>
    <ngx-extended-pdf-viewer style="display: none;" [src]="pdfContent" [useBrowserLocale]="true" [textLayer]="false"
        (pdfLoaded)="onPagesLoaded($event)">
    </ngx-extended-pdf-viewer>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-buttons class="ion-justify-content-center">
            <ion-button type="button" color="primary" fill="outline" shape="round" (click)="onSubmit()">
                <ion-label>{{'lang.save' | translate}}</ion-label>
            </ion-button>
            <ion-button type="button" color="medium" fill="outline" shape="round" (click)="modalController.dismiss()">
                <ion-label>{{'lang.cancel' | translate}}</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>