@import '../../../css/vars.scss';

.testSendTo {
    width:95%;
    margin-top:10px;
    margin-left:10px
}

.bash {
    background : #34495e; 
    height : 310px ; 
    border-radius : 5px ;
    top: 40px;
    display : absolute; 
    color : #fff ;
    padding: 10px;
    margin: 10px;
}
