<div class="container" [class.admin-is-mobile]="signaturesService.mobileMode">
    <!--<mat-toolbar color="primary" class="admin-toolbar">
        <mat-icon class="maarchLogoFull" [svgIcon]="signaturesService.mobileMode ? 'maarchLogoOnly' : 'maarchLogo'"></mat-icon>
        <h1 class="admin-toolbar-title">{{'lang.passwordModification' | translate}}</h1>
        <span style="flex: 1 1 auto;"></span>
        <button mat-button>
            <mat-icon mat-list-icon class="fa fa-user fa-2x" style="color:white; margin:0px 12px 8px 0px;"></mat-icon>{{user.firstname.charAt(0) | uppercase}}. {{user.lastname | uppercase}}</button>
    </mat-toolbar>-->
    <mat-sidenav-container autosize class="admin-sidenav-container" >
        <mat-sidenav-content>
            <div *ngIf="loading" style="display:flex;height:100%;">
                <mat-spinner style="margin:auto;"></mat-spinner>
            </div>
            <mat-card *ngIf="!loading" class="card-app-content" style="display: flex;justify-content: center;align-items: center; height: 100%; padding: 0px">
                <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()" style="max-width: 700px;">
                    <p>{{'lang.hello' | translate}} <b>{{user.firstname}} {{user.lastname}}</b>, {{'lang.changePasswordInfo' | translate}}.</p>
                    <ng-template>{{'lang.passwordModification' | translate}}</ng-template>
                    <mat-form-field style="padding:10px; width: 100%">
                        <input matInput placeholder="{{'lang.typeCurrentPassword' | translate}}" formControlName="currentPasswordCtrl" required [type]="hidePassword ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="fa fa-2x" [ngClass]="[hidePassword ? 'fa-eye-slash' : 'fa-eye']"></mat-icon>
                        <mat-error *ngIf="firstFormGroup.controls['currentPasswordCtrl'].hasError('required')">{{'lang.requiredField' | translate}}</mat-error>
                    </mat-form-field>
                    <div style="text-align:center;color: rgba(0,0,0,0.54);font-size: 75%;">{{this.ruleText}}</div>
                    <mat-form-field style="padding:10px; width: 100%">
                        <input matInput #inputPasswd placeholder="{{'lang.passwordConfirmation' | translate}}" formControlName="newPasswordCtrl" required
                            [type]="hidePassword ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="fa fa-2x" [ngClass]="[hidePassword ? 'fa-eye-slash' : 'fa-eye']"></mat-icon>
                        <mat-hint *ngIf="validPassword">
                            <i color="accent" class="fa fa-check"></i>
                            <span color="accent">{{'lang.passwordValid' | translate}}</span>
                        </mat-hint>
                        <mat-error>{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field style="padding:10px; width: 100%">
                        <input matInput #inputPasswd2 placeholder="{{'lang.passwordConfirmation' | translate}}" required [type]="hidePassword ? 'password' : 'text'"
                            formControlName="retypePasswordCtrl">
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword" class="fa fa-2x" [ngClass]="[hidePassword ? 'fa-eye-slash' : 'fa-eye']"></mat-icon>
                        <mat-hint *ngIf="!firstFormGroup.controls['retypePasswordCtrl'].hasError('mismatch') && firstFormGroup.controls['retypePasswordCtrl'].value != ''">
                            <i color="accent" class="fa fa-check"></i>
                            <span color="accent">{{'lang.passwordMatch' | translate}}</span>
                        </mat-hint>
                        <mat-error>{{'lang.passwordNotMatch' | translate}} !</mat-error>
                    </mat-form-field>
                    <div class="col-md-12 text-center" style="padding:10px; text-align: center">
                        <button mat-raised-button type="submit" color="primary" style="margin: 10px" [disabled]="!firstFormGroup.valid">{{'lang.validate' | translate}}</button>
                        <button mat-raised-button type="button" color="default" (click)="logout()">{{'lang.logout' | translate}}</button>
                    </div>
                </form>
                <div *ngIf="passwordRules.renewal.enabled || passwordRules.historyLastUse.enabled" class="alert-warning" role="alert" [innerHTML]="otherRuleText"></div>
            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
