
.alert-warning {
  text-align: center;
  left: 0px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  margin: 0;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  margin-top: -63px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%
}
