<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
        </ion-buttons>
        <ion-title>{{'lang.passwordModification' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content #mainContent>
    <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()" style="display: contents;">
        <ion-grid>
            <ion-row>
                <ion-col offset="3" size="6">
                    <ion-card class="info">
                        <ion-card-content>
                            {{'lang.hello' | translate}} <b> {{user.firstname}} {{user.lastname}}</b>, {{'lang.changePasswordInfo' | translate}}.
                        </ion-card-content>
                    </ion-card>
                    <ion-item>
                        <ion-label color="secondary" position="stacked">{{'lang.typeCurrentPassword' | translate}}</ion-label>
                        <ion-input placeholder="{{'lang.typeCurrentPassword' | translate}}" formControlName="currentPasswordCtrl" required [type]="hidePassword ? 'password' : 'text'"></ion-input>
                        <ion-button class="showpassButton" slot="end" color="light"
                            (click)="hidePassword = !hidePassword">
                            <ion-icon slot="icon-only" color="primary"
                                [name]="hidePassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
                        </ion-button>
                        <ion-note *ngIf="firstFormGroup.controls['currentPasswordCtrl'].hasError('required')" color="danger">{{'lang.requiredField' | translate}}</ion-note>
                    </ion-item>
                    <ion-list-header lines="full">
                        <ion-label color="dark">{{this.ruleText}}</ion-label>
                    </ion-list-header>
                    <ion-item>
                        <ion-label color="secondary" position="stacked">{{'lang.passwordConfirmation' | translate}}
                        </ion-label>
                        <ion-input #inputPasswd placeholder="{{'lang.passwordConfirmation' | translate}}" formControlName="newPasswordCtrl" required
                        [type]="hidePassword ? 'password' : 'text'"></ion-input>
                        <ion-button class="showpassButton" slot="end" color="light"
                            (click)="hidePassword = !hidePassword">
                            <ion-icon slot="icon-only" color="primary"
                                [name]="hidePassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
                        </ion-button>
                        <ion-item *ngIf="validPassword" lines="none">
                            <ion-icon slot="start" color="success" name="checkmark-outline"></ion-icon>
                            <ion-label color="success">{{'lang.passwordValid' | translate}}</ion-label>
                        </ion-item>
                        <ion-note color="danger">{{getErrorMessage()}}</ion-note>
                    </ion-item>
                    <ion-item>
                        <ion-label color="secondary" position="stacked">{{'lang.passwordConfirmation' | translate}}
                        </ion-label>
                        <ion-input #inputPasswd2 placeholder="{{'lang.passwordConfirmation' | translate}}" required [type]="hidePassword ? 'password' : 'text'"
                        formControlName="retypePasswordCtrl"></ion-input>
                        <ion-button class="showpassButton" slot="end" color="light"
                            (click)="hidePassword = !hidePassword">
                            <ion-icon slot="icon-only" color="primary"
                                [name]="hidePassword ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
                        </ion-button>
                        <ion-item *ngIf="!firstFormGroup.controls['retypePasswordCtrl'].hasError('mismatch') && firstFormGroup.controls['retypePasswordCtrl'].value != ''" lines="none">
                            <ion-icon slot="start" color="success" name="checkmark-outline"></ion-icon>
                            <ion-label color="success">{{'lang.passwordMatch' | translate}}</ion-label>
                        </ion-item>
                        <ion-note color="danger">{{'lang.passwordNotMatch' | translate}}</ion-note>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-item text-center lines="none" style="position: sticky;bottom:0px;z-index:1;">
            <div style="display: flex;align-items: center;justify-content: center;width: 100%;background: white;">
                <ion-button type="submit" shape="round" size="large" fill="outline" color="primary"
                    [disabled]="!firstFormGroup.valid">
                    <ion-label style="font-size: 13px;">{{'lang.validate' | translate}}</ion-label>
                </ion-button>
                <ion-button type="button" shape="round" size="large" fill="outline" color="default" (click)="logout()">
                    <ion-label style="font-size: 13px;">{{'lang.logout' | translate}}</ion-label>
                </ion-button>
            </div>
        </ion-item>
    </form>
    <ion-item color="warning" *ngIf="passwordRules.renewal.enabled || passwordRules.historyLastUse.enabled" class="alert-warning" role="alert" [innerHTML]="otherRuleText"></ion-item>
</ion-content>
