@import '../../../css/vars.scss';

.mat-list-item {
    height: auto !important;
    text-align: center;
}

.mat-card {
    box-shadow: none;
    border: solid 1px #E0E0E0;
}

.mat-icon {
    height: auto;
}

.current {
    box-shadow: 0px 0px 20px 0px #656565;
}

.panel-header {
    box-shadow: 0px 0px 10px 0px #656565;
    color: white;
    background: $primary;
    height: 65px;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 20px;
    align-items: center;
}

.panel-content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.closePanel {
    position: absolute;
    left: 0px;
    font-size: 24px;
}

.panel-content ::ng-deep.mat-form-field-label {
    color: #c297fc;
}

.panel-content ::ng-deep.mat-input-element:disabled {
    color: $primary;
}