<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button disabled>
                <ion-icon slot="icon-only" name="information-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{'lang.informations' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngIf="!functionsService.empty(mainDocument.groupMailId)">
        <ion-item color="danger">
            <ion-icon name="alert-circle" slot="start"></ion-icon>
            <ion-label>{{'lang.docIsInMailGroup' | translate}}</ion-label>
        </ion-item>
    </ion-card>
    <ion-list lines="full" class="ion-no-margin">
        <ion-item [title]="mainDocument.sender">
            <ion-label color="secondary" position="floating">{{'lang.emittedBy' | translate}}</ion-label>
            <ion-input [value]="mainDocument.sender" readonly></ion-input>
        </ion-item>
        <ion-item *ngIf="mainDocument.description != null" [title]="mainDocument.description">
            <ion-label color="secondary" position="floating">{{'lang.description' | translate}}</ion-label>
            <ion-input [value]="mainDocument.description" readonly></ion-input>
        </ion-item>
        <ion-item *ngIf="mainDocument.deadline != null" [title]="mainDocument.deadline">
            <ion-label color="secondary" position="floating">{{'lang.processingDeadline' | translate}}</ion-label>
            <ion-input [value]="mainDocument.deadline" readonly></ion-input>
        </ion-item>
        <ion-item [title]="mainDocument.reference">
            <ion-label color="secondary" position="floating">{{'lang.reference' | translate}}</ion-label>
            <ion-input [value]="mainDocument.reference" readonly></ion-input>
        </ion-item>
        <ion-item [title]="mainDocument.title">
            <ion-label color="secondary" position="floating">{{'lang.subject' | translate}}</ion-label>
            <ion-input [value]="mainDocument.title" readonly></ion-input>
        </ion-item>
        <ion-item *ngFor="let data of mainDocument.metadata;">
            <ion-label color="secondary" position="floating">{{data.label | translate}}</ion-label>
            <ion-input [value]="data.value" readonly></ion-input>
        </ion-item>
    </ion-list>
</ion-content>