<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button disabled>
                <ion-icon slot="icon-only" name="information-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{'lang.informations' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list lines="full" class="ion-no-margin">
        <ion-item [title]="mainDocument.sender">
            <ion-label color="secondary" position="floating">{{'lang.emittedBy' | translate}}</ion-label>
            <ion-input [value]="mainDocument.sender" readonly></ion-input>
        </ion-item>
        <ion-item *ngIf="mainDocument.description != null" [title]="mainDocument.description">
            <ion-label color="secondary" position="floating">{{'lang.description' | translate}}</ion-label>
            <ion-input [value]="mainDocument.description" readonly></ion-input>
        </ion-item>
        <ion-item *ngIf="mainDocument.deadline != null" [title]="mainDocument.deadline">
            <ion-label color="secondary" position="floating">{{'lang.processingDeadline' | translate}}</ion-label>
            <ion-input [value]="mainDocument.deadline" readonly></ion-input>
        </ion-item>
        <ion-item [title]="mainDocument.reference">
            <ion-label color="secondary" position="floating">{{'lang.reference' | translate}}</ion-label>
            <ion-input [value]="mainDocument.reference" readonly></ion-input>
        </ion-item>
        <ion-item [title]="mainDocument.title">
            <ion-label color="secondary" position="floating">{{'lang.subject' | translate}}</ion-label>
            <ion-input [value]="mainDocument.title" readonly></ion-input>
        </ion-item>
        <ion-item *ngFor="let data of mainDocument.metadata;">
            <ion-label color="secondary" position="floating">{{data.value | translate}}</ion-label>
            <ion-input [value]="data.value" readonly></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
<!--<div class="panel-container" *ngIf="!loading">
    <div class="panel-header">
        <button *ngIf="signaturesService.mobileMode" class="closePanel" mat-icon-button type="button" (tap)="snavRightComponent.close();">
            <mat-icon fontSet="fas" fontIcon="fa-arrow-right fa-2x"></mat-icon>
        </button>
        <mat-icon fontSet="fas" fontIcon="fa-info-circle fa-2x"></mat-icon> {{'lang.informations' | translate}}
    </div>
    <div class="panel-content" *ngIf="mainDocument.id">
        <mat-list>
            <mat-list-item>
                <p mat-line style="display: flex;padding:10px;">
                    <mat-form-field style="width:100%;">
                        <input matInput [value]="mainDocument.sender" title="{{mainDocument.sender}}"
                            placeholder="{{'lang.emittedBy' | translate}}" disabled>
                    </mat-form-field>
                </p>
            </mat-list-item>
            <mat-list-item *ngIf="mainDocument.description != null">
                <p mat-line style="display: flex;padding:10px;">
                    <mat-form-field style="width:100%;">
                        <input matInput [value]="mainDocument.description" title="{{mainDocument.description}}"
                            placeholder="{{'lang.description' | translate}}" disabled>
                    </mat-form-field>
                </p>
            </mat-list-item>
            <mat-list-item *ngIf="mainDocument.deadline != null">
                <p mat-line style="display: flex;padding:10px;">
                    <mat-form-field style="width:100%;">
                        <input matInput [value]="mainDocument.deadline" title="{{mainDocument.deadline}}"
                            placeholder="{{'lang.processingDeadline' | translate}}" disabled>
                    </mat-form-field>
                </p>
            </mat-list-item>
            <mat-list-item>
                <p mat-line style="display: flex;padding:10px;">
                    <mat-form-field style="width:100%;">
                        <input matInput [value]="mainDocument.reference" title="{{mainDocument.reference}}"
                            placeholder="{{'lang.reference' | translate}}" disabled>
                    </mat-form-field>
                </p>
            </mat-list-item>
            <mat-list-item>
                <p mat-line style="display: flex;padding:10px;">
                    <mat-form-field style="width:100%;">
                        <input matInput [value]="mainDocument.title" title="{{mainDocument.title}}"
                            placeholder="{{'lang.subject' | translate}}" disabled>
                    </mat-form-field>
                </p>
            </mat-list-item>
            <mat-list-item *ngFor="let data of mainDocument.metadata;">
                <p mat-line style="display: flex;padding:10px;">
                    <mat-form-field style="width:100%;">
                        <input matInput [value]="data.value" title="{{data.value | translate}}"
                            placeholder="{{data.label | translate}}" disabled>
                    </mat-form-field>
                </p>
            </mat-list-item>
        </mat-list>
    </div>
</div>-->