<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="document-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center"><b class="secondary">{{docList.length}}</b>&nbsp;{{'lang.attachedElements' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content (wheel)="scroll($event)">
    <ion-slides *ngIf="!loading" pager="true" [options]="slideOpts" #slides>
        <ion-slide *ngFor="let doc of docList;let i=index">
            <div style="height: 90%;width: 100%;position: relative;padding: 10px;" >
                <div (click)="loadDoc(i)" [class.current]="i == currentDocId" style="cursor:pointer;height: 100%;width: 100%;border-radius: 4px;transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);border: solid 1px #E0E0E0;" [ngStyle]="{'background': 'url(' + doc.imgContent[1] + ') no-repeat scroll center center / contain'}"></div>
                        <div class="pjToolsContent">
                            {{doc.title}}&nbsp;<span class="red" *ngIf="i == 0">({{'lang.mainDocument' | translate}})</span><span class="red" *ngIf="i > 0">({{'lang.attachment' | translate}})</span>
                        </div>
                    </div>
        </ion-slide>
    </ion-slides>
</ion-content>