@import '../../../css/vars.scss';

.mat-list-item {
    height: auto !important;
    text-align: center;
}

.mat-card {
    box-shadow: none;
    border: solid 1px #E0E0E0;
}

.mat-icon {
    height: auto;
}

.pjToolsContent {
    position: absolute;
    border: solid 1px #E0E0E0;
    border-bottom-left-radius: 5px;
    background: white;
    padding: 10px;
    font-weight: 600;
    color: #135F7F;
    font-size: 14px;
    top: 10px;
}

.current {
    box-shadow: 0px 0px 20px 0px #656565;
}

.panel-header {
    box-shadow: 0px 0px 10px 0px #656565;
    color: white;
    background: $primary;
    height: 65px;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 20px;
    align-items: center;
}

.panel-content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow: hidden;
}

img {
    pointer-events: none;
}

.secondary {
    color: var(--ion-color-secondary);
}