<div class="panel-content" *ngIf="!loading">
    <div class="panel-header">
        <button class="closePanel" mat-icon-button type="button" (tap)="snavRightComponent.close();">
            <mat-icon fontSet="fas" fontIcon="fa-arrow-right fa-2x"></mat-icon>
        </button>
        <mat-icon fontSet="fas" fontIcon="fa-file fa-2x"></mat-icon> <b>{{mainDocument.attachments.length + 1}}</b>&nbsp;document(s)
    </div>
    <div class="pjListContent">
        <mat-card [style.background-image]="'url('+mainDocument.thumbnailUrl+')'" [class.current]="mainDocument.id == currentDocId"
            style="padding:0;margin-top: 30px;height: 400px;width: 100%;background-size: contain;background-repeat: no-repeat;background-position: center;"
            (click)="loadDoc(mainDocument.id)">
            <div class="pjToolsContent">
                Main doc
            </div>
        </mat-card>
        <mat-card *ngFor="let attachment of mainDocument.attachments;let i=index"
            [style.background-image]="'url('+attachment.thumbnailUrl+')'" [class.current]="attachment == currentDocId"
            style="padding:0;margin-top: 30px;height: 400px;width: 100%;background-size: contain;background-repeat: no-repeat;background-position: center;"
            (click)="loadDoc(attachment)">
            <div class="pjToolsContent">
                Annexes {{i}}
            </div>
        </mat-card>
    </div>
</div>