<ion-header>
  <ion-toolbar color="light">
      <ion-title style="text-align: center;font-size: 14px;">
          {{'lang.administration' | translate}}
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let privilege of authService.user.administrativePrivileges" [routerLink]="privilege.route" [class.item-active]="isActiveRoute(privilege.route)">
      <ion-icon slot="start" [name]="privilege.icon" color="primary"></ion-icon>
      <ion-label>{{'lang.' + privilege.id | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>