.flex1 {
    flex: 1;
}
.flex2 {
    flex: 2;
}

.primary {
    color: var(--ion-color-primary);
}

::ng-deep .test {
    .alert-wrapper {
        min-width: 350px;
    }
}

.canSelect {
    * {
        user-select: text !important;
        -webkit-user-select: text !important;
        -khtml-user-select: text !important;
        -moz-user-select: text !important;
        -ms-user-select: text !important;
    }
}

.scrollfilters {
    overflow: auto;
    white-space: nowrap;
    ion-chip {
        height: auto;
        margin: 4px;
        display: inline-block;
    }
}