.line-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    width: 100%;
}

.line-workflow {
    font-size: 12px;
}

.primary {
    color: var(--ion-color-primary);
}

.secondary {
    color: var(--ion-color-secondary);
}

.success {
    color: var(--ion-color-success);
}

.workflow-item {
    display: flex;
    align-items: center;
}

.no-visa {
    opacity: 0.3;
}

.current {
    font-weight: bold;
    color: var(--ion-color-primary);
}

.typist-interrupt {
    color: var(--ion-color-danger);
}

.interrupt {
    color: var(--ion-color-danger);
    text-decoration: line-through;
}

.no-result {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-result .item {
    width: 100%;
    text-align: center;
}

.no-result-label {
    font-size: 50px;
}

.scrollfilters {
    padding-left: 50px;
    overflow: auto;
    white-space: nowrap;
    ion-chip, div {
        height: auto;
        display: inline-block;
    }
}

ion-button.clearFilter {
    position: absolute;
    background: var(--ion-color-primary);
    position: -webkit-sticky;
    left: 0;
    z-index: 1;
    left: -2px;
    height: 31px;
}