.line-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    width: 100%;
}

.line-workflow {
    font-size: 12px;
}

.primary {
    color: var(--ion-color-primary);
}

.success {
    color: var(--ion-color-success);
}

.workflow-item {
    display: flex;
    align-items: center;
}

.no-visa {
    opacity: 0.3;
}

.current {
    font-weight: bold;
    color: var(--ion-color-primary);
    font-size: 130%;
}

.typist-interrupt {
    color: var(--ion-color-danger);
}

.interrupt {
    color: var(--ion-color-danger);
    text-decoration: line-through;
}

.no-result {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-result .item {
    width: 100%;
    text-align: center;
}

.no-result-label {
    font-size: 50px;
}