<div *ngIf="enterApp" class="enterApp" [@enterApp]>
  <mat-icon svgIcon="maarchLogo" class="maarchLogo"></mat-icon>
</div>
<mat-sidenav-container autosize>
  <mat-sidenav #snav [mode]="signaturesService.mobileMode ? 'over': 'side'" [opened]="!signaturesService.mobileMode || freezeSidenavClose" fixedInViewport="true" [disableClose]="freezeSidenavClose" [style.width.px]="350">
    <app-sidebar [snavLeftComponent]="this.snav" [snavRightComponent]="this.snavRight"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="mainView">
    <div *ngIf="loadingDoc"
      style="position: absolute;z-index: 2;display: flex;background: #fffc;width: 100%;height: 100%;justify-content: center;align-items: center;">
      <mat-spinner></mat-spinner>
    </div>
    <header class="header" *ngIf="!this.signaturesService.annotationMode && !freezeSidenavClose" [@slideDown]>
      <article class="header-infos">
        <section class="header-action">
          <button *ngIf="signaturesService.mobileMode" mat-icon-button (click)="this.snav.toggle();" style="width:70px;">
            <mat-icon fontSet="fas" fontIcon="fa-bars"></mat-icon>
          </button>
          <button mat-button (click)="openMainDocumentDetail();">
            <i class="fas fa-info-circle fa-2x"></i><span style="display: block">Informations</span>
          </button>
        </section>

        <section class="header-action">
          <button mat-button [matBadge]="mainDocument.attachments.length + 1" (click)="openDocumentList();">
            <i class="fas fa-file fa-2x"></i><span style="display: block">Documents</span>
          </button>
          <button mat-button [matBadge]="mainDocument.workflow.length" (click)="openVisaWorkflow();">
              <i class="fas fa-list-ol fa-2x"></i><span style="display: block">Circuit</span>
          </button>
          <button mat-button [matMenuTriggerFor]="menu">
            <i class="fas fa-cog fa-2x"></i><span style="display: block">Actions</span>
          </button>
          <mat-menu #menu="matMenu">
            <button [disabled]="checkEmptiness()" mat-menu-item
              (click)="removeTags();">{{'lang.deleteAll' | translate}}</button>
            <button [disabled]="checkEmptyNote()" mat-menu-item
              (click)="undoTag();">{{'lang.cancelPreviousNote' | translate}}</button>
          </mat-menu>
        </section>
      </article>
    </header>
    <app-overlay *ngIf="this.signaturesService.annotationMode" [appDocumentNotePad]="appDocumentNotePad"></app-overlay>
    <ng-container *ngIf="!freezeSidenavClose">
      <button class="btn-previous" (tap)="prevPage()"
        *ngIf="pageNum > 1 && !this.signaturesService.annotationMode"><i class="fas fa-chevron-left fa-3x"></i></button>
      <button class="btn-next" (tap)="nextPage()"
        *ngIf="pageNum < totalPages && !this.signaturesService.annotationMode"><i
          class="fas fa-chevron-right fa-3x"></i></button>
    </ng-container>

    <div [style.width]="widthDoc" style="height:100%;overflow:hidden;background:grey;">
      <div *ngIf="!resetDragPos" #dragElem class="example-box" cdkDragLockAxis="y" cdkDrag
        [cdkDragDisabled]="this.signaturesService.annotationMode"
        style="width: 100%;transform: translate3d(0px, 80px, 0px)" (cdkDragEnded)="testDrag($event)">
        <app-document-note-list (tap)="addAnnotation($event)" *ngIf="currentDoc == 0">
        </app-document-note-list>
        <app-document-sign-list *ngIf="currentDoc == 0"></app-document-sign-list>
        <img *ngIf="!loadingDoc && !freezeSidenavClose" (tap)="addAnnotation($event)" id="snapshotPdf" [src]="docList[currentDoc].imgUrl+'/'+pageNum"
          style="width:100%;" />
        <app-document-note-pad (triggerEvent)="zoomForView()" #appDocumentNotePad *ngIf="currentDoc == 0">
        </app-document-note-pad>
      </div>
    </div>

    <section class="page-info" *ngIf="!this.signaturesService.annotationMode && docList[currentDoc]">
      <div class="page-info-doc">{{docList[currentDoc].title}}</div>
      <div class="page-info-page">{{'lang.page' | translate}} {{ pageNum }} / {{ totalPages }}</div>
    </section>
    <footer class="footer" *ngIf="!this.signaturesService.annotationMode && !freezeSidenavClose" [@slideUp]>
      <ng-container *ngFor="let action of actionsList;">
        <button [style.color]="action.color" [style.borderColor]="action.color" class="btn"
          (click)="launchEvent(action)"><i class="{{action.logo}} fa-2x"></i>{{action.label | translate}}</button>
      </ng-container>
    </footer>
    <app-drawer></app-drawer>
  </mat-sidenav-content>
  <mat-sidenav #snavRight [mode]="this.signaturesService.mobileMode ? 'over': 'side'" [opened]="!signaturesService.mobileMode" fixedInViewport="true" [style.width]="signaturesService.sideNavRigtDatas.width"
    position='end' [disableClose]='signaturesService.sideNavRigtDatas.locked'>
    <app-my-profile *ngIf="signaturesService.sideNavRigtDatas.mode == 'profile'" [snavLeftComponent]="this.snav"
      [snavRightComponent]="this.snavRight"></app-my-profile>
    <app-visa-workflow [visaWorkflow]="mainDocument.workflow" [snavRightComponent]="this.snavRight"
      *ngIf="signaturesService.sideNavRigtDatas.mode == 'visaWorkflow'"></app-visa-workflow>
    <app-document-list #appDocumentList [currentDocId]="currentDoc" [snavRightComponent]="this.snavRight"
      [docList]="docList" *ngIf="signaturesService.sideNavRigtDatas.mode == 'documentList'"
      (triggerEvent)="loadDoc($event)"></app-document-list>
    <app-main-document-detail #appMainDocumentDetail [snavRightComponent]="this.snavRight"
      [mainDocument]="mainDocument" *ngIf="signaturesService.sideNavRigtDatas.mode == 'mainDocumentDetail'"></app-main-document-detail>
  </mat-sidenav>
</mat-sidenav-container>