@import '../../css/vars.scss';

.enterApp {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: $primary;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maarchLogo {
  position: absolute;
  transition: all 1s ease-in-out;
  width: 250px;
  height: auto;
  padding-bottom: 10px;
}

.mainView {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header button {
  height: 70px;
  width: 70px;
}

.header button mat-icon {
  height: auto;
  width: auto;
  font-size: 40px;
}

.article {
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex: 1;
  //transition: all 0.2s;
  top: 0;
  left: 0;
  //padding-top: 90px;
  //padding-bottom: 120px;
}

.canvas-wrapper {
  position: relative;
  padding-bottom: 120px;
}

canvas {

  margin: 0 auto;
  display: block;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  /*&-left
      position absolute
      top 15px
      left -60px*/
  &-action {
    color: $primary;
  }

  &-infos {
    background: #F1F4F4;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
  }

  &-info {
    border-right: 1px solid #979797;
    width: 200px;
    height: 60px;
    font-size: 12px;
    padding-left: 20px;

    &:last-of-type {
      border: none;
    }

    p {
      margin: 0;
      padding: 0;
    }
  }

  &-expand {
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    border: solid 1px #F1F4F4;

    .mat-form-field {
      padding-top: 10px;
    }

    ::ng-deep.mat-expansion-panel {
      box-shadow: none;
    }

    ::ng-deep.mat-form-field-label {
      color: $primary;
    }

    ::ng-deep .mat-form-field-underline {
        display: none;
    }

    &-content {
        width: 33%;
        display: inline-block;

        input {
          text-overflow: ellipsis;
        }
        
        .mat-form-field {
          width: 100%;
        }
    }

    input:disabled {
      opacity: 1;
      color: #666;
    }

    div {
      flex: 1;
      font-size: 12px;
    }
  }
}


.page {
  &-info {
    position: fixed;
    bottom: 100px;
    height: 30px;
    width: auto;
    max-width: 70%;
    color: #9B9B9B;
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    left: 50%;
    transform: translateX(-50%);

    &-doc {
      max-width: 80%;
      background-color: #F1F4F4;
      border-radius: 14px;
      padding: 0 20px;
      z-index: 1;
      white-space: pre;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-page {
      text-align: center;
      border-radius: 0 14px 14px 0;
      padding: 0 20px;
      background: #fff;
      border: 1px solid #ECF0F1;
      margin-left: -15px;
      height: 28px;
      white-space: pre;
    }
  }
}

.btn-next {
  color: #666;
  background: #c6c6c680;
  border-radius: 20px;
  padding: 10px;
  border: none;
  outline: none;
  position: fixed;
  right: 25px;
  top: 50%;
  cursor: pointer;
  z-index: 1;

  &.disabled {
    cursor: not-allowed;
  }
}

.btn-previous {
  color: #666;
  background: #c6c6c680;
  border-radius: 20px;
  padding: 10px;
  border: none;
  outline: none;
  position: fixed;
  left: 25px;
  top: 50%;
  cursor: pointer;
  z-index: 1;

  &.disabled {
    cursor: not-allowed;
  }
}

button.disabled {
  cursor: not-allowed;
}

.overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.pdf-page-canvas {
  opacity: 1;
  transition: 0.5s opacity ease-in;
}

.pdf-page-canvas-loading-doc {
  opacity: 0;
}


.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leftPosDesk {
  left:25% !important;
}

.mat-badge-content {
  top: 10px !important;
  right: 0 !important;
  background: $warn;
}