
<ion-fab cdkDrag style="position: fixed;right: 50px;top: 50px;z-index: 1;">
  <ion-fab-button color="light">
      <ion-icon  name="language-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-button color="light" (click)="openLangTool()">
      <mat-icon color="primary" class="fas fa-language" style="height: auto;"></mat-icon>
      <span>{{'lang.missingLang' | translate}}</span>&nbsp;&nbsp;<span [matBadge]="countMissingLang">&nbsp;</span>
    </ion-button>
  </ion-fab-list>
</ion-fab>
