<div class="modalContent">
    <h1 mat-dialog-title><i class="fa fa-exclamation-triangle fa-2x"></i><br/>{{'lang.attention' | translate}} !</h1>
    <div mat-dialog-content>
      <p *ngIf="signaturesService.notesContent.length == 0 && signaturesService.signaturesContent.length == 0">{{'lang.refuseDocumentWithoutSignature' | translate}}</p>
      <p *ngIf="signaturesService.notesContent.length > 0 || signaturesService.signaturesContent.length > 0">{{'lang.wouldLikeConfirm' | translate}} ?</p>
    </div>
    <div mat-dialog-actions>
      <button mat-icon-button class="close" (click)="this.dialogRef.close();">
        <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
      </button>
      <button class="actions btn" [disabled]="disableState" mat-button (click)="this.dialogRef.close('annotation');" *ngIf="signaturesService.notesContent.length == 0"><i class="fas fa-pen-alt fa-2x"></i> {{'lang.annotateDocument' | translate}}</button>
      <button class="actions btn red" mat-button cdkFocusInitial (click)="confirmDoc();" [disabled]="disableState"><i class="fas fa-backspace fa-2x"></i> {{ msgButton | translate}}</button>
    </div>
</div>
