
.current {
    --background: var(--ion-color-success);
}

.primary {
    color: var(--ion-color-primary);
}

.secondary {
    color: var(--ion-color-secondary);
}

.success {
    color: var(--ion-color-success);
}

.danger {
    color: var(--ion-color-danger);
}

.avatar-user {
    width: 50px;
    height: 50px;
    border: solid var(--ion-color-secondary);
}

ion-select {
    color: var(--ion-color-primary);
    font-size: 12px;
}

.no-ripple {
    --ripple-color: transparent;
  }