<mat-list *ngIf="!loading">
    <div style="font-size: 30px;opacity: 0.1;padding-bottom: 30px;text-align: center;">
        <mat-icon fontSet="fas" fontIcon="fa-list-ol fa-2x"></mat-icon> Circuit de visa
    </div>
    <div>
        <div *ngIf="visaWorkflow.length === 0" style="opacity: 0.5;text-align: center;font-size: 10px;padding: 10px;">
            {{'lang.noPerson' | translate}}
        </div>
        <mat-list-item *ngFor="let diffusion of visaWorkflow;let i=index"
            [class.current]="diffusion.current">
            <mat-icon mat-list-icon color="primary" [style.background-image]="'url('+diffusion.userPicture+')'" style="height:70px;width:70px;background-size: contain;background-repeat: no-repeat;background-position: center;"></mat-icon>
            <h4 mat-line style="display: flex;">
                <span style="flex: 1;font-size: 25px;">{{diffusion.userDisplay}}</span>
            </h4>
            <p mat-line style="display: flex;">
                    <span class="workflowData" style="text-align:left">
                        <span class="workflowSubData" *ngIf="diffusion.processDate == null && diffusion.current">
                            <i mat-list-icon class="fa fa-hourglass" style="font-size:12px;opacity:0.5;width: auto;height: auto;"></i>
                            {{'lang.inProgress' | translate}}
                        </span>
                        <span class="workflowSubData" *ngIf="diffusion.processDate == null && !diffusion.current">
                            <i mat-list-icon class="fa fa-question"  style="font-size:12px;opacity:0.5;width: auto;height: auto;"></i>
                            {{'lang.waiting' | translate}}
                        </span>
                        <span *ngIf="diffusion.processDate != null">
                            <i mat-list-icon class="fa fa-check green" style="font-size:12px;opacity:0.5;width: auto;height: auto;"></i>
                            <span class="green">{{'lang.'+diffusion.mode+'ProcessInfo' | translate}} {{diffusion.processDate}}</span>
                        </span>
                    </span>
                    <span class="workflowData workflowSubData">{{'lang.'+diffusion.mode+'User' | translate}}</span>
            </p>
        </mat-list-item>
    </div>