
.current {
    --background: var(--ion-color-success);
}

.primary {
    color: var(--ion-color-primary);
}

.secondary {
    color: var(--ion-color-secondary);
}

.success {
    color: var(--ion-color-success);
}

.danger {
    color: var(--ion-color-danger);
}

.avatar-user {
    width: 80px;
    height: 80px;
    border: solid var(--ion-color-secondary);
}