<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="list-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{'lang.circuit' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let diffusion of visaWorkflow;let i=index" [class.current]="diffusion.current">
            <ion-avatar slot="start" class="avatar-user">
                <img [src]="diffusion.userPicture">
            </ion-avatar>
            <ion-label>
                <p class="secondary" *ngIf="diffusion.current && diffusion.userId !== authService.user.id">{{'lang.substituteMsg' | translate}}</p>
                <h1 class="primary" *ngIf="diffusion.userDisplay != ''">{{diffusion.userDisplay}}</h1>
                <h1 class="danger" *ngIf="diffusion.userDisplay == ''">{{'lang.userDeleted' | translate}}</h1>
                <p *ngIf="diffusion.processDate == null && diffusion.current">{{'lang.inProgress' | translate}}</p>
                <p *ngIf="diffusion.processDate == null && !diffusion.current">{{'lang.waiting' | translate}}</p>
                <p class="success" *ngIf="diffusion.processDate != null">{{'lang.'+diffusion.mode+'ProcessInfo' | translate}}
                    {{diffusion.processDate}}</p>
            </ion-label>
            <ion-note slot="end">{{'lang.'+diffusion.mode+'User' | translate}}</ion-note>
        </ion-item>
    </ion-list>
</ion-content>