<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{'lang.annotateDocument' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content #mainContent *ngIf="!loading">
  <div class="tool-content tool-content-right">
    <ng-container *ngFor="let color of penColors" let idx="index">
      <input type="radio" name="colors" [checked]="idx === 0" [value]="color.id" class="radio"
        [ngStyle]="{'border-color': color.id, 'background-color': color.id}">
    </ng-container>
    <hr>
    <i class="fa fa-undo fa-2x undo" (click)="undo()"></i>
  </div>
  <ion-fab vertical="top" horizontal="start" slot="fixed" activated>
    <ion-fab-button close-icon="chevron-up">
      <ion-icon name="chevron-down"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button [color]="editMode ? 'danger' : 'success'"
        [title]="editMode ? ('lang.lockEdition' | translate) : ('lang.unlockEdition' | translate)"
        (click)="$event.stopPropagation();editMode=!editMode">
        <ion-icon [name]="editMode ? 'lock-closed-outline' : 'lock-open-outline'">
        </ion-icon>
      </ion-fab-button>
      <ion-fab-button [title]="originalSize ? ('lang.originalSize' | translate) : ('lang.screenSize' | translate)"
        (click)="$event.stopPropagation();getImageDimensions(!originalSize)">
        <ion-icon [name]="originalSize ? 'scan-outline' : 'crop-outline'"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <div style="display: contents;">
    <drag-scroll style="overflow:auto;height: 100%;width: 100%;margin: auto;" [style.maxWidth.px]="areaWidth" #nav>
      <div style="position:relative;" [style.width.px]="areaWidth" [style.height.px]="areaHeight" #myBounds>
        <ion-img class="img-content" [src]="content" [style.width.px]="areaWidth" [style.height.px]="areaHeight"
          (ionImgDidLoad)="imageLoaded($event)" #img>
        </ion-img>
        <canvas [style.display]="!editMode ? 'none' : 'initial'" style="position: absolute;top: 0px;left:0px;"
          id="myCanvas" #canvas></canvas>
      </div>
    </drag-scroll>
  </div>
</ion-content>
<ion-footer class="ion-no-border footer-buttons">
  <div style="text-align: center">
    <ion-button color="danger" (click)="dismissModal()" shape="round" fill="outline" size="large">
      <ion-label style="font-size: 13px;">{{'lang.cancel' | translate}}</ion-label>
    </ion-button>
    <ion-button color="success" (click)="validateAnnotation()" shape="round" fill="outline" size="large" style="margin-left: 50px">
      <ion-label style="font-size: 13px;">{{'lang.save' | translate}}</ion-label>
    </ion-button>
  </div>
</ion-footer>
