<div *ngIf="signaturesService.lockNote">
  <span style="z-index:1;position: fixed;bottom: 10px;top: 10px;font-size: 25px;height:50px;">
    <button class="btn blue" (tap)="cancelAnnotation(i);"><i class="fas fa-arrow-left fa-2x"></i>Quitter l'annotation</button>
  </span>
  <span *ngIf="!lockSignaturePad" style="z-index:1;position: fixed;top: 10px;left: 50%;transform: translateX(-50%);font-size: 25px;">
    <button class="btn red" (tap)="togglePad();"><i class="fas fa-lock fa-2x"></i>Vérouiller la zone de travail</button>
  </span>
  <span *ngIf="lockSignaturePad" style="z-index:1;position: fixed;top: 10px;left: 50%;transform: translateX(-50%);font-size: 25px;">
    <button class="btn green" (tap)="togglePad();"><i class="fas fa-lock fa-2x"></i>Dévérouiller la zone de travail</button>
  </span>
  <span *ngIf="signaturesService.scale==1" style="z-index:1;position: fixed;top: 10px;right: 0;font-size: 25px;">
    <button class="btn blue" (tap)="zoomPlus();"><i class="fas fa-plus fa-2x"></i>Zoomer</button>
  </span>
  <span *ngIf="signaturesService.scale==2" style="z-index:1;position: fixed;top: 10px;right: 0px;font-size: 25px;">
    <button class="btn blue" (tap)="zoomMinus();"><i class="fas fa-plus fa-2x"></i>Dézoomer</button>
  </span>
  <span style="z-index:1;position: fixed;bottom: 10px;left: 50%;transform: translateX(-50%);font-size: 25px;">
    <button class="btn green" (click)="$event.stopPropagation();validateAnnotation();"><i class="fas fa-check-circle fa-2x"></i>Valider
      l'annotation</button>
  </span>
</div>
<div *ngIf="signaturesService.lockNote" [style.width.px]="this.signaturesService.workingAreaWidth" [style.height.px]="this.signaturesService.workingAreaHeight"
  style="top:0;position: absolute;border: dashed 1px grey;overflow: hidden;" [ngClass]="{
  'pdf-page-canvas':!signaturesService.renderingDoc,
  'pdf-page-canvas-loading-doc':signaturesService.renderingDoc
}">
  <!-- <div class="tool-content tool-content-left">
    <input type="range" name="dot" min="1" max="10" step="1" value="1" (input)="onDotChange($event.target.value)" class="range">
    <i class="fas fa-pen-nib"></i>
  </div> -->
  <div class="tool-content tool-content-right">
    <ng-container *ngFor="let color of penColors" let idx="index">
      <input type="radio" name="colors" [checked]="idx === 0" [value]="color.id" (change)="onColorChange(color)" class="radio"
        [ngStyle]="{'border-color': color.id, 'background-color': color.id}">
    </ng-container>
    <hr>
    <i class="fa fa-undo fa-2x undo" (click)="undo()"></i>
  </div>
  <signature-pad id="notePad" [options]="annotationPadOptions"></signature-pad>
  <div *ngIf="lockSignaturePad" style="background: #ffffffb3;position: absolute;top: 0;left: 0;width: 100%;height: 100%;"></div>
</div>