<article class="signatures" *ngIf="signaturesService.showSign">
  <div style="font-size: 20px;font-weight: bold;opacity: 0.3;">
    {{'lang.doubletapSignatureToAddDocument' | translate}}
  </div>
  <section class="list">
    <div class="list-item create" (click)="openPad()">
      <i class="fas fa-pen-nib fa-2x"></i>
      {{'lang.createNewSignature' | translate}}
    </div>
    <div [@listAnimation]="signaturesService.signaturesListSubstituted.length" style="display: contents;">
      <div *ngFor="let signature of signaturesService.signaturesListSubstituted;let i=index" class="list-item" style="position: relative;overflow: hidden" (tap)="tapEvent(signature,i,'substitute')">
        <img [src]="sanitization.bypassSecurityTrustUrl('data:image/png;base64,' + signature.encodedSignature)"
          style="width: 190px;">
        <div class="substituteInfo">{{'lang.substitutedSignature' | translate}}</div>
      </div>
    </div>
    <div [@listAnimation]="signaturesService.signaturesList.length" style="display: contents;">
      <div *ngFor="let signature of signaturesService.signaturesList;let i=index" class="list-item" style="position: relative;overflow: hidden" (tap)="tapEvent(signature,i,'')">
        <span class="remove_icon_{{i}}" style="display:none;position: absolute;top: 5px;left: 5px;" (tap)="removeSignature(signature,i);"><i style="border-radius: 25px;background: white;left:0px;top:0px;color:red;font-size: 50px;" class="fa fa-times-circle fa-2x"></i></span>
        <img [src]="sanitization.bypassSecurityTrustUrl('data:image/png;base64,' + signature.encodedSignature)"
          style="width: 190px;">
      </div>
    </div>
  </section>
</article>
<app-pad (reloaded)="reloadSignatures()"></app-pad>