<article class="signatures" *ngIf="signaturesService.showSign">
  <section class="signatures-top">
    <button class="btn" (click)="showAnnotation()">
      <i class="fas fa-pen"></i>
      annotation
    </button>
    <label for="all" class="form-label">Ajouter la signature sur toutes les pages
      <input type="checkbox" name="all" id="all" class="toggle" (click)="toggleAllPage()">
    </label>
  </section>
  <section class="list">
    <div class="list-item create" (click)="openPad()">
      <i class="fas fa-pen-nib fa-2x"></i>
      créer une nouvelle signature
    </div>
    <div [@listAnimation]="signaturesService.signaturesList.length" style="display: contents;">
      <div *ngFor="let signature of signaturesService.signaturesList;let i=index" class="list-item" style="position: relative;" (tap)="tapEvent(signature,i)">
        <span class="remove_icon_{{i}}" style="display:none;position: absolute;top: -15px;left: -15px;"><i style="border-radius: 25px;background: white;left:0px;top:0px;color:red;font-size: 50px;" class="fa fa-times-circle fa-2x" (tap)="removeSignature(signature,i);"></i></span>
        <img [src]="sanitization.bypassSecurityTrustUrl('data:image/png;base64,' + signature.encodedSignature)"
          style="width: 190px;">
      </div>
    </div>
  </section>
</article>
<app-pad (reloaded)="reloadSignatures()"></app-pad>