<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="left-menu"></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{'lang.manage_password_rules' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<form style="display: contents;" id="passwordForm" (ngSubmit)="onSubmit()" #passwordForm="ngForm">
    <ion-content>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label color="secondary">{{passwordRules['complexityUpper'].label}}</ion-label>
                    <ion-toggle slot="start" name="complexityUpper"
                        [(ngModel)]="passwordRules['complexityUpper'].enabled"
                        (ngModelChange)="toggleRule(passwordRules['complexityUpper'])"
                        [checked]="passwordRules['complexityUpper'].enabled"></ion-toggle>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label color="secondary">{{passwordRules['complexityNumber'].label}}</ion-label>
                    <ion-toggle slot="start" name="complexityNumber"
                        [(ngModel)]="passwordRules['complexityNumber'].enabled"
                        (ngModelChange)="toggleRule(passwordRules['complexityNumber'])"
                        [checked]="passwordRules['complexityNumber'].enabled"></ion-toggle>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label color="secondary">{{passwordRules['complexitySpecial'].label}}</ion-label>
                    <ion-toggle slot="start" name="complexitySpecial"
                        [(ngModel)]="passwordRules['complexitySpecial'].enabled"
                        (ngModelChange)="toggleRule(passwordRules['complexitySpecial'])"
                        [checked]="passwordRules['complexitySpecial'].enabled"></ion-toggle>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-toggle slot="start" name="minLengthToggle" [(ngModel)]="passwordRules['minLength'].enabled"
                (ngModelChange)="toggleRule(passwordRules['minLength'])" [checked]="passwordRules['minLength'].enabled">
            </ion-toggle>
            <ion-label color="secondary" position="floating">{{passwordRules['minLength'].label}}</ion-label>
            <ion-input [disabled]="!passwordRules['minLength'].enabled" name="minLength"
                [(ngModel)]="passwordRules['minLength'].value" min="1" pattern="^[1-9][0-9]*"></ion-input>
            <ion-note slot="end">{{'lang.chars' | translate}}</ion-note>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-toggle slot="start" name="lockAttemptsToggle"
                        [(ngModel)]="passwordRules['lockAttempts'].enabled"
                        (ngModelChange)="toggleRule(passwordRules['lockAttempts'])"
                        [checked]="passwordRules['lockAttempts'].enabled"></ion-toggle>
                    <ion-label color="secondary" position="floating">{{passwordRules['lockAttempts'].label}}</ion-label>
                    <ion-input [disabled]="!passwordRules['lockAttempts'].enabled" name="lockAttempts"
                        [(ngModel)]="passwordRules['lockAttempts'].value" min="1" pattern="^[1-9][0-9]*"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label color="secondary" position="floating">{{passwordRules['lockTime'].label}}</ion-label>
                    <ion-input [disabled]="!passwordRules['lockTime'].enabled" name="lockTime"
                        [(ngModel)]="passwordRules['lockTime'].value" min="1" pattern="^[1-9][0-9]*"></ion-input>
                    <ion-note slot="end">{{'lang.minutes' | translate}}</ion-note>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-item>
            <ion-toggle slot="start" name="renewalToggle" [(ngModel)]="passwordRules['renewal'].enabled"
                (ngModelChange)="toggleRule(passwordRules['renewal'])" [checked]="passwordRules['renewal'].enabled">
            </ion-toggle>
            <ion-label color="secondary" position="floating">{{passwordRules['renewal'].label}}</ion-label>
            <ion-input [disabled]="!passwordRules['renewal'].enabled" name="renewal"
                [(ngModel)]="passwordRules['renewal'].value" min="1" pattern="^[1-9][0-9]*"></ion-input>
            <ion-note slot="end">{{'lang.days' | translate}}</ion-note>
        </ion-item>
        <ion-item>
            <ion-toggle slot="start" name="historyLastUseToggle" [(ngModel)]="passwordRules['historyLastUse'].enabled"
                (ngModelChange)="toggleRule(passwordRules['historyLastUse'])"
                [checked]="passwordRules['historyLastUse'].enabled"></ion-toggle>
            <ion-label color="secondary" position="floating">{{passwordRules['historyLastUse'].label}}</ion-label>
            <ion-input [disabled]="!passwordRules['historyLastUse'].enabled" name="historyLastUse"
                [(ngModel)]="passwordRules['historyLastUse'].value" min="1" pattern="^[1-9][0-9]*"></ion-input>
        </ion-item>
        <ion-item text-center lines="none" style="position: sticky;bottom:0px;z-index:1;">
            <div style="display: flex;align-items: center;justify-content: center;width: 100%;background: white;">
                <ion-button type="submit" shape="round" size="large" fill="outline" color="primary"
                    [disabled]="(!passwordForm.valid && !disabledForm()) || checkModif()">
                    <ion-label style="font-size: 13px;">{{'lang.validate' | translate}}</ion-label>
                </ion-button>
            </div>
        </ion-item>
    </ion-content>
</form>