@import './frontend/css/vars.styl'
@import './frontend/css/atomic.styl'


//COLORS
.c-active-color
  color #135F7F
.bold
  font-weight bold

html
  height 100%
  position fixed
  overflow hidden

body
  height 100%
  width 100%
  position fixed
  overflow hidden

.mat-sidenav-container
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  
//forms
.form-label
  display flex
  align-items center

//Buttons
.btn
  height 50px
  display flex
  align-items center
  justify-content space-around
  font-size 14px
  font-weight bold
  border 1px solid black
  background-color #fff
  padding 0 25px
  border-radius 25px
  cursor pointer
  outline none
  &.btn-xs
    height 35px
  &.green
    color $green
    border 1px solid $green
  &.red
    color #E74C3C
    border 1px solid #E74C3C
  &.blue
    color #135F7F
    background #fff
    border 1px solid #135F7F
    &.active
      color #fff
      background #135F7F
  &:disabled
    opacity 0.5
    color #000
    border 1px solid #000
    cursor not-allowed
  .fas, i, .material-icons
    margin 0 5px

//toggle
.toggle
  appearance none
  position relative
  width 60px
  height 38px
  border-radius 19px
  outline none
  transition all 0.1s
  border solid 1px #ECF0F1
  background #ECF0F1
  &:after
    content ""
    position absolute
    width 34px
    height 34px
    display flex
    align-items center
    justify-content center
    background #fff
    border 1px solid #ECF0F1
    border-radius 18px
    box-shadow 0 1px 2px 0 rgba(9, 11, 15, 0.06)
  &:checked
    border-color $green
    background $green
    &:after
      right 0
      top 0

body
  margin 0
  font-family 'lato', sans-serif
  color $color-main
  -webkit-font-smoothing antialiased

// .main
  
//HEADER
  .header
    width $container
    height $header-height
    display flex
    justify-content center
    align-items center
    padding 20px 0
    /*&-left
      position absolute
      top 15px
      left -60px
    &-right
      position absolute
      top 15px
      right -60px*/
    &-infos
      background #F1F4F4
      border-radius 5px
      display flex
      justify-content space-between
      align-items flex-start
      width 100%
      padding-top 12px
      padding-bottom 12px
      position relative
    &-info
      border-right 1px solid #979797
      width 200px
      height 60px
      font-size 12px
      padding-left 20px
      &:last-child
        border none
      p
        margin 0
        padding 0
            
.footer
  width $container
  height $footer-height
  display flex
  align-items center
  justify-content space-around
  position fixed
  bottom 10px
  z-index 1

button.disabled
  cursor not-allowed


.dragger
  position absolute
  // top 0
  // left 0
  // height 150px
  // width 150px
  z-index 10
  background cyan

.cdk-global-scrollblock 
  overflow : hidden !important