::ng-deep.Arial {
    font-family: Arial, sans-serif;
}

::ng-deep.Verdana {
    font-family: Verdana, sans-serif;
}

::ng-deep.Helvetica {
    font-family: Helvetica, sans-serif;
}

::ng-deep.Tahoma {
    font-family: Tahoma, sans-serif;
}

::ng-deep.Times_New_Roman {
    font-family: 'Times New Roman', serif;
}

::ng-deep.Courier_New {
    font-family: 'Courier New', monospace;
}