<div class="login-content">
    <mat-icon svgIcon="maarchLogo" class="maarchLogo"></mat-icon>
    <mat-card class="login-form" *ngIf="!loadingForm" [@myAnimation]>
        <form (ngSubmit)="login()">
            <mat-form-field class="input-row">
                <input id="login"  name="login" matInput placeholder="{{'lang.login' | translate}}" [(ngModel)]="newLogin.login" type="text" oninput="this.value = this.value.toLowerCase()" (click)="fixAutoFill()">
            </mat-form-field>
            <mat-form-field class="input-row">
                <input id="password" name="password" matInput placeholder="{{'lang.password' | translate}}" type="password" [(ngModel)]="newLogin.password">
                <mat-hint align="end"><a routerLink="/forgot-password" class="forgotPwdLink">{{'lang.forgotPassword' | translate}} ?</a></mat-hint>
            </mat-form-field>
            <button type="submit" mat-button [disabled]="newLogin.id == '' || newLogin.password == '' || loadingConnexion">{{labelButton | translate}}</button>
        </form>
    </mat-card>
    <footer>
        Maarch parapheur {{appVersion}} Powered by {{appAuthor}}
    </footer>
</div>