<div class="login-content">
    <mat-icon svgIcon="maarchLogo" class="maarchLogo"></mat-icon>
    <mat-card class="login-form" *ngIf="!loadingForm" [@myAnimation]>
        <form (ngSubmit)="login()">
            <mat-form-field class="input-row">
                <input name="login" matInput placeholder="Identifiant" [(ngModel)]="newLogin.login" type="text" oninput="this.value = this.value.toLowerCase()">
            </mat-form-field>
            <mat-form-field class="input-row">
                <input name="password" matInput placeholder="Mot de passe" type="password" [(ngModel)]="newLogin.password">
                <mat-hint align="end"><a routerLink="/forgotPassword" class="forgotPwdLink">Mot de passe oublié ?</a></mat-hint>
            </mat-form-field>
            <button type="submit" mat-button [disabled]="newLogin.id == '' || newLogin.password == '' || loadingConnexion">{{labelButton}}</button>
        </form>
    </mat-card>
    <footer>
        Maarch parapheur {{appVersion}} Powered by {{appAuthor}}
    </footer>
</div>